body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

#films_container{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}
.film{
    padding: 20px;
    margin: 10px;
    width: 300px;

    
    transition: 0.25s ease-out;
}

.film:hover{
    background: #fff6ee;
    padding-top: 30px;
    margin-bottom: 0px;
    transition: 0.25s ease-out;
}

.film_subheading{
    font-weight: 300;
    font-style: italic;
}

.italics{
    font-style: italic;
}